@charset "utf-8";

/* PCのみの共通部表示限定CSS */

#SP_MENU{
    display: none;
}
#PC_MENU{
    display:block !important;
}
#LOGO img{
    width:141px;
}
header{
    padding:20px 0 0 !important;
    }

header ul{
    float:right;
    padding:17px 0 0;
}
header li{
    display: inline-block;
    margin:0 4px;
    font-weight: bold;
}

header li a:hover{
    opacity: 0.7;
}
.social_link{
    font-size: 2.2rem !important;
}

#PC_MENU li{
	display: inline;
}

/* 変化途中のナビに関する設定 */
@media (max-width: 749px){
	header ul{
		padding:0;
	}
}

.sp{
    display: none;
}

/* Footer */
#PAGE_TOP{
	text-align: right;
}
