@charset "utf-8";

/* sp_design_2nd.css ver1.01 : Written by syam 2016.08.xx 記 */
/* 2階層目（products.html / list.html）限定の指定を記載 */


/* ItemList */
.item_list li{
	width: 50%;
}

/* Shopping Guide */
.guide_box{
	width:100%;
}